In [3]:
import pandas as pd
over= 0
df = pd.read_csv('titanic.csv')
df.head(0)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [49]:
df[df['PassengerId'] == 50]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8,NaN,S

In [44]:
x = 0
for i in range(len(df)):
    if df.loc[i, 'Age'] > 18:
        x += 1
        
print(x)

575

In [45]:
x =0
for i in range(len(df)):
    if df.loc[i, 'Sex'] == "male":
        x += 1
x= x/len(df)
x= x*100
print(x,"%")

64.75869809203144 %

In [46]:
class1 =0
class2 =0
class3 =0
for i in range(len(df)):
    if df.loc[i, 'Pclass'] == 1:
        class1 += 1
    elif df.loc[i, 'Pclass'] == 2:
        class2 += 1
    else:
        class3 += 1
print("1 class",class1/len(df)*100, class1)
print("2 class" ,class2/len(df)*100, class2)
print("3 class",class3/len(df)*100, class3)

1 class 24.242424242424242 216
2 class 20.65095398428732 184
3 class 55.106621773288445 491

In [47]:
Q =0
C =0
S =0
U =0

for i in range(len(df)):
    if df.loc[i, 'Embarked'] == "Q":
        Q += 1
    elif df.loc[i, 'Embarked'] == "C":
        C += 1
    elif df.loc[i, 'Embarked'] == "S":
        S += 1
    else:
        U += 1
print("Q port",Q/len(df)*100, Q)
print("C port" ,C/len(df)*100, C)
print("S port",S/len(df)*100, S)
print(U)

Q port 8.641975308641975 77
C port 18.855218855218855 168
S port 72.27833894500561 644
2

In [24]:
S = 0
C = 0 
Q = 0
S2 = 0
C2 = 0 
Q2 = 0
for i in range(len(df)):
    if df.loc[i , "Embarked"] == "S" and df.loc[i, "Survived"] == 1:
        S += 1
    if df.loc[i , "Embarked"] == "Q" and df.loc[i, "Survived"] == 1:
        Q += 1
    if df.loc[i , "Embarked"] == "C" and df.loc[i, "Survived"] == 1:
        C += 1
    if df.loc[i , "Embarked"] == "S" and df.loc[i, "Survived"] == 0:
        S2 += 1
    if df.loc[i , "Embarked"] == "Q" and df.loc[i, "Survived"] == 0:
        Q2 += 1
    if df.loc[i , "Embarked"] == "C" and df.loc[i, "Survived"] == 0:
        C2 += 1       
        
        
table = pd.DataFrame({
    "C port":[C,C2,C2+C,C/C2+C],
    "S port":[S,S2,S2+S,S/S2+S],
    "Q port":[Q,Q2,Q2+Q,Q/Q2+Q]
})
table.index=["survided","not survided","amount of people","percent of lived"]
table.head()

                  C port      S port     Q port
survided           93.00  217.000000  30.000000
not survided       75.00  427.000000  47.000000
amount of people  168.00  644.000000  77.000000
percent of lived   94.24  217.508197  30.638298

In [7]:

age = 0
for i in range(len(df)):
    if df.loc[i , "Sex"] == "male":
        age += df.loc[i, "Age"] 
        
        
print(age/len(df))

nan

In [5]:
D1 = 0
D2 = 0
S1 = 0 
S2 = 0
for i in range(len(df)):
    if df.loc[i , "Age"] < 18 and  df.loc[i , "Survived"] == 1:
        S2 += 1
    elif df.loc[i , "Age"] > 18 and  df.loc[i , "Survived"] == 1:
        D2 += 1   
    elif df.loc[i , "Age"] < 18 and  df.loc[i , "Survived"] == 0:
        S1 += 1   
    elif df.loc[i , "Age"] > 18 and  df.loc[i , "Survived"] == 0:
        D1 += 1   
    
conTable = pd.DataFrame({
    "over 18":[S2/(S2+D1)*100, round(int(D2/(D2+S1)*100), 2)],
    "under 18":[D1/(S2+D1)*100, S1/(D2+S1)*100]
})
conTable.index=["survided", "not survided"]
conTable.head()

                over 18   under 18
survided      14.663462  85.336538
not survided  80.000000  19.117647