In [32]:
import pandas as pd
over= 0
df = pd.read_csv('titanic.csv')
df.head(0)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [66]:
df.loc[5 , 'Age'] == 32
df.loc[5]

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
age                        32.0
Name: 5, dtype: object

In [67]:
x =0
for i in range(len(df)):
    if df.loc[i, 'Age'] > 18:
        x += 1

print(x)

575

In [61]:
x =0
for i in range(len(df)):
    if df.loc[i, 'Sex'] == "male":
        x += 1
x= x/len(df)
x= x*100
print(x,"%")

64.75869809203144 %

In [62]:
print(len(df))

891