In [25]:
import pandas as pd
over= 0
df = pd.read_csv('titanic.csv')
df.head(0)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [29]:
df[df['PassengerId'] == 528]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S

In [10]:
x = 0
for i in range(len(df)):
    if df.loc[i, 'Age'] > 18:
        x += 1
        
print(x)

576

In [11]:
x =0
for i in range(len(df)):
    if df.loc[i, 'Sex'] == "male":
        x += 1
x= x/len(df)
x= x*100
print(x,"%")

64.75869809203144 %

In [12]:
class1 =0
class2 =0
class3 =0
for i in range(len(df)):
    if df.loc[i, 'Pclass'] == 1:
        class1 += 1
    elif df.loc[i, 'Pclass'] == 2:
        class2 += 1
    else:
        class3 += 1
print("1 class",class1/len(df)*100, class1)
print("2 class" ,class2/len(df)*100, class2)
print("3 class",class3/len(df)*100, class3)

1 class 24.242424242424242 216
2 class 20.65095398428732 184
3 class 55.106621773288445 491

In [21]:
Q =0
C =0
S =0
U =0

for i in range(len(df)):
    if df.loc[i, 'Embarked'] == "Q":
        Q += 1
    elif df.loc[i, 'Embarked'] == "C":
        C += 1
    elif df.loc[i, 'Embarked'] == "S":
        S += 1
    else:
        U += 1
print("Q port",Q/len(df)*100, Q)
print("C port" ,C/len(df)*100, C)
print("S port",S/len(df)*100, S)
print(U)

Q port 8.641975308641975 77
C port 18.855218855218855 168
S port 72.27833894500561 644
2

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object