In [39]:
import pandas as pd
pd.read_csv('cats - cats.csv').head()

,Unnamed: 0,Breed,Age (Years),Weight (kg),Color,Gender,ID
0,0,Egyptian Mau,12,7,White,Male,181
1,1,Scottish Fold,17,8,Tortoiseshell,Male,907
2,2,Sphynx,9,9,Orange,Male,732
3,3,Oriental,6,7,Gray,Female,464
4,4,Savannah,14,7,Tortoiseshell,Female,451